[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlmodel = "*"
python-dotenv = "*"
openai = "*"
pypdf = "*"
langchain-text-splitters = "*"
python-multipart = "*"
asyncpg = "*"
pydantic-settings = "*"
pydantic-extra-types = "*"
greenlet = "*"

[dev-packages]
pylint = "*"
ruff = "*"
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.13"
